services:
  api:
    build: 
      context: ..
      dockerfile: apps/api/Dockerfile.dev

    volumes:
      - ../..:/workspaces:cached
      
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    # network_mode: service:db
    
    environment:
      - PORT=3001
    networks:
      - app-network
    depends_on:
      - db

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)
  
  web:
    build: 
      context: ..
      dockerfile: apps/web/Dockerfile.dev
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    environment:
      - PORT=3000
    networks:
      - app-network
    depends_on:
      - api

  db:
    image: postgres:17.7-bookworm
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward PostgreSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge